// content 감싸는 background color 효과 적용용 wrap
.content-bg-wrap {
  width: 100%;
  height: fit-content;
}

// main-banner 컴포넌트 css 시작
.main-banner {
  display: flex;
  gap: 5%;

  .banner-txt {
    flex-basis: 45%;
    @include flex-col(3.5rem);
    box-sizing: border-box;

    .tit-h1,
    .txt-md,
    .lb-txt-2 {
      color: $white;
    }

    .tit-h1 {
      line-height: $ln-h-r;
    }

    .btn-ty01 {
      padding: 1.8rem 4.8rem;
      box-sizing: border-box;
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      gap: 4rem;

      a {
        width: fit-content;
        display: block;
      }
    }
  }

  .banner-img {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &.ty01 {
      background-image: url("../images/img_banner_01.png");
    }

    &.ty02 {
      background-image: url("../images/img_banner_02.png");
    }
  }
}

// mobile 환경 br 태그 활성화용 class
.m-only {
  display: none;
}


@include t-l {
  .main-banner {
    gap: 3.5rem;
    flex-direction: column;
    align-items: center;

    .banner-txt {
      align-items: center;

      .tit-h1,
      .txt-md {
        text-align: center;
      }
    }

    .banner-img {
      width: 66.66%;
      padding-top: 44.44%;
    }
  }

  .m-only {
    display: block;
  }
}

@include m-l {
  .main-banner {
    .banner-txt {
      .btn-wrap {
        flex-direction: column;
        gap: 3rem;
      }
    }
  }
}


/* benefit List CSS */
// benefit list ty별 정의
.bnf-comp {
  background-color: $grey;

  .content {
    @include flex-col(4rem);
  }

  .content-header {
    @include flex-col(1.2rem);
    align-items: center;
    text-align: center;

    .tit-h2 {
      width: 60%;
      line-height: $ln-h-r;
    }
  }

  .ico-list-ty {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.4rem;
    column-gap: 3%;

    .ico-item {
      flex-basis: 31.33%;
      @include flex-col(2.5rem);
      padding: 4.8rem;
      box-sizing: border-box;
      background-color: $white;

      // ico list의 ico ty 별 클래스 정의
      .ico-box {
        width: 3.5rem;
        height: 3.5rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        &.ty01 {
          background-image: url("../images/ico_list_01.png");
        }

        &.ty02 {
          background-image: url("../images/ico_list_02.png");
        }

        &.ty03 {
          background-image: url("../images/ico_list_03.png");
        }

        &.ty04 {
          background-image: url("../images/ico_list_04.png");
        }

        &.ty05 {
          background-image: url("../images/ico_list_05.png");
        }

        &.ty06 {
          background-image: url("../images/ico_list_06.png");
        }
      }

      .txt-box {
        @include flex-col(1.2rem);
      }
    }

  }

  &.ty2 {
    background-color: unset;

    .ico-list-ty {
      .ico-item {
        background-color: $grey;
      }
    }
  }
}

.user-list-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  .txt-box {
    display: flex;
    flex-direction: column;
  }
  .user-logo-box {
    .user-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 5rem;
      row-gap: 2rem;
      justify-content: space-evenly;
      img {
        width: fit-content;
        height: auto;
      }
    }
  }
}

@include t-l {
  .bnf-comp {
    .content-header {
      .tit-h2 {
        width: 70%;
      }
    }

    .ico-list-ty {
      column-gap: 4%;

      .ico-item {
        flex-basis: 48%;
      }
    }
  }

  .user-list-wrap {
    flex-direction: column;
    gap: 3.5rem;
    .txt-box {
      align-items: center;
    }
  }
}

@include m-l {
  .bnf-comp {
    .content-header {
      .tit-h2 {
        width: 100%;
      }
    }

    .ico-list-ty {
      row-gap: 2rem;
      .ico-item {
        flex-basis: 100%;
        padding: 4rem;
      }
    }
  }
}
/* //benefit List CSS */

/* how we work CSS */
.hww-content {
  display: flex;
  justify-content: space-between;
  .content-header {
    flex-basis: 26%;
    @include flex-col(1.5rem);
    .icon-link {
      a {
        color: $royal-blue;
      }
    }
  }
  section {
    flex-basis: 60%;
    .hww-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 4.8rem 4%;
      .hww-item {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .ico-box {
          display: block;
          color: $white;
          width: 5rem;
          height: 5rem;
          margin-bottom: 0.8rem;
          text-align: center;
          line-height: 5rem;
          background-image: url("../images/ico_bg_hww.png");
        }
        .txt-r {
          width: 80%;
        }
      }
    }
  }
}

@include t-l {
  .hww-content {
    //display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: flex-start;
    .content-header {
      flex-basis: unset;
      align-items: center;
      text-align: center;
      .txt-r {
        width: 70%;
      }
    }
    section {
      flex-basis: unset;
      .hww-list {
        gap: 3.5rem 4%;
        .hww-item {
          .txt-r {
            width: 90%;
          }
        }
      }
    }
  }
}

@include m-l {
  .hww-content {
    display: flex;
    justify-content: space-between;
    .content-header {
      .txt-r {
        width: 90%;
      }
    }
    section {
      flex-basis: unset;
      .hww-list {
        gap: 3.5rem 2%;
        justify-content: space-between;
        .hww-item {
          flex-basis: 45%;
          .txt-r {
            width: 95%;
          }
        }
      }
    }
  }
}

/* //how we work CSS */

/* Main View Our Project CSS */

.mpc-content {
  @include flex-col(6rem);
  .content-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  section {
    .mpc-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3rem;
      .list-item {
        &:first-child {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
          .mpc-item {
            .txt-box {
              width: 40%;
            }
          }
        }
      }
    }

    .mpc-item {
      position: relative;
      overflow: hidden;
      .txt-box {
        position: absolute;
        top: 0;
        bottom: 0;
        @include flex-col(1rem);
        justify-content: flex-end;
        left: -100%;
        width: 100%;
        padding: 4.5rem 3.5rem;
        box-sizing: border-box;
        background: linear-gradient(330deg, $tint-blue -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
        transition: left 0.5s;
        .tit-h6,
        .txt-md {
          color: $white;
        }
        .icon-link {
          a {
            color: $yellow;
          }
        }
      }
      .img-box {
        width: 100%;
        img {
          width: 100%;
        }
      }
      &:hover {
        .txt-box {
          left: 0;
        }
      }
    }
  }
}

/* //Main View Our Project CSS */