.style-guide{
  .style-header-wrap{
    border-bottom: 1px solid rgba(35, 37, 54, 0.12);
    padding: 40px 0;
    header{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      .tit-h4{
        line-height: 44px;
        font-weight: $r;
      }
    }
  }
  .style-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 0;
    .style-content{
      margin-top: 90px;
      &:first-child{
        margin-top: 0;
      }
      .style-title{
        .tit-h5{
          font-weight: $r;
        }
      }
      ul{
        margin-top: 30px;
        li{
          button{
            width: 222px;
            height: 64px;
          }
        }
      }
      .font-area{
        display: flex;
        gap: 90px;
        .text-list{
          width: 50%;
          .text-item{
            margin-top: 32px;
            &:first-child{
              margin-top: 0;
            }
            &:last-child{
              display: flex;
              gap: 38px;
            }
            .tit-h6{
              font-weight: $b;
            }
            p{
              margin-top: 8px;
            }
          }
        }
      }
      .color-list{
        display: flex;
        flex-grow: 1;
        .color-item{
          width: calc(100% / 7);
          height: 100px;
          p{
            text-align: center;
            line-height: 100px;
          }
        }
      }
      .button-list{
        display: flex;
        gap: 50px;
      }
    }
  }
}