#footer {
  width: 100%;
  height: fit-content;
}

.contact-bg-wrap {
  width: 100%;
  background-color: $tint_blue;
  color: $white;
}
.ft-contact {
  width: $pc-cont;
  margin: 0 auto;
  padding-top: 9.6rem;
  display: flex;

}
.contact-info {

}
.sns-list {

}



.ft-gnb {
  width: $pc-cont;
  margin: 0 auto;
}